@media (max-width: 991px) {
    #banner,
    #about,
    #main-content {
        padding: 50px 0px;
    }
    header .navbar-default {
        min-height: 50px;
        background-color: rgba(0, 0, 0, 0.75);
        background-image: url('../img/bg01.jpg');
        border-color: #202020;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header .navbar-default .navbar-nav a {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    html {
        overflow: auto;
        overflow-x: hidden;
    }
    header {
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
    header .navbar-default .navbar-brand {
        font-size: 30px;
        position: absolute;
        top: -70%;
        left: 40%;
    }
    header .collapse {
        display: block;
    }
    header .navbar-nav {
        overflow: auto;
        position: fixed;
        top: -8px;
        left: -250px;
        width: 250px;
        height: 100%;
        display: inline-block;
        background: rgba(0, 0, 0, 0.4) url('../img/bgmenu.jpg') repeat;
        z-index: 1000;
        border-right: solid 1px rgba(226, 225, 225, 0.4);
        padding: 0 20px;
    }
    header .navbar-default .navbar-nav a {
        font-size: 22px;
        border-top: solid 1px #373d40;
        line-height: 50px;
    }
    #banner {
        text-align: center;
        padding: 100px 0 50px 0;
    }
    #order-list {
        display: block;
    }
}