@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200");

/* SELF DEFINATION CLASS */

.img-100 {
    width: 100%;
}

.author-name {
    padding-top: 10px;
    font-weight: 400;
    font-size: 15px;
}


/* DEFINE TEXT COLOR */

.text-white {
    color: #FFFFFF;
}

.text-dark {
    color: #a3a1a1;
}


/* HEADER */

body {
    background: #D4D9DD url(../img/bg01.jpg);
    position: relative;
}

body * {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
}

header .navbar {
    border-radius: 0;
    margin-bottom: 0;
}

header .navbar-default {
    min-height: 135px;
    background-color: rgba(0, 0, 0, 0.75);
    background-image: url(../img/bg01.jpg);
    border: none;
    box-shadow: 0 2px 2px #2d2d2d;
}

header .navbar-default .navbar-brand {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 300;
    line-height: 100px;
}

header .navbar-default .navbar-brand:hover,
header .navbar-default .navbar-collapse a:hover {
    color: #FFFFFF;
}

header .navbar-default .navbar-nav a {
    line-height: 100px;
    color: #a0a8ab;
    font-size: 25px;
    padding: 16px 25px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
}


/* header .navbar-header {
    margin-left: 0;
    margin-right: 0;
} */

header .navbar-toggle {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

header .navbar-default .navbar-collapse {
    border-color: rgba(36, 36, 36, 0.75);
}


/* CONTENT INDEX*/

.check-red {
    color: red;
    font-size: 30px;
    padding: 0 12px;
}


/* PART 1: BANNER */

#banner {
    padding: 40px;
    border-bottom: 1px solid #656565;
    box-shadow: inset 0 1px 0 0 #3e484a;
}

.img-border {
    background: #FFFFFF;
    padding: 10px;
}

.btn-go-on {
    margin: 30px 0 10px 0;
    background: #e42100;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 2.2em;
    border-radius: 10px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.5);
}

.btn-go-on:hover {
    background: #eb3f20;
    color: #FFFFFF;
}


/* PART 2: MAIN-CONTENT */

#main-content {
    font-size: 18px;
    padding: 50px;
    background: #202020 url(../img/bg02.jpg);
}

#main-content section {
    padding: 50 0;
}

#main-content .caption p {
    text-align: justify;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
    color: #a0a8ab;
}


/* PART 3: ABOUT */

#about {
    color: #474f51;
    font-size: 18px;
    padding: 50px;
    background: #f7f7f7;
}

#about .about-part {
    padding: 5px;
    box-shadow: 1px 2px 2px rgba(189, 188, 188, 0.5);
}

#about .image {
    margin: 40px 0;
}

.doing-list {
    list-style-type: none;
    display: inline;
}

.quote-list {
    list-style-type: none;
    display: inline;
}

.doing-list li,
.quote-list li {
    padding: 19px 0;
    border-bottom: 1px solid #c1c1c1;
}

.doing-list li:last-child,
.quote-list li:last-child {
    border-bottom: 0;
    padding-bottom: 15px;
}

.quote-list .quote-img {
    float: left;
    padding: 0 10px;
}

.quote-list .quote-content {
    padding: 5px 0;
    line-height: 20px;
}

#content {
    background: #f7f7f7;
    color: rgb(124, 124, 124);
    font-size: 19px;
}

#content section {
    margin: 40px 0 50px 0;
    padding: 30px;
    box-shadow: 1px 2px 2px rgba(189, 188, 188, 0.5);
}

#content p {
    text-align: justify;
    margin: 30px 0;
}


/* THREE COLUMN OAGE */

.link-list {
    list-style-type: none;
    padding: 5px 0;
}

.link-list li {
    border-bottom: 1px solid #e2e2e2;
    padding: 8px 0;
}

.link-list a {
    color: rgb(255, 112, 112);
    text-decoration: underline;
}

.link-list a:hover {
    text-decoration: none;
}

#order-list {
    display: flex;
    font-size: 19px;
}

#left-content {
    order: -1;
}

#m-content {
    order: 0;
}

#right-content {
    order: 1;
}


/* FOOTER */

footer {
    color: #a3a1a1;
    font-size: 19px;
    background: #D4D9DD url(../img/bg03.jpg) repeat;
    padding-top: 50px;
}

footer .blurb {
    text-align: justify;
    text-justify: inter-word;
    padding: 15px 0;
}

.footer-list {
    list-style-type: none;
    padding: 15px 0;
}

.footer-list li a {
    text-decoration: underline;
    color: #546b76;
}

.footer-list li a:hover {
    text-decoration: none;
}

.footer-list li {
    border-bottom: 1px solid #c1c1c1;
    padding: 7px 0;
}

.footer-list li:last-child {
    border-bottom: 0;
}


/* COPYRIGHT */

#copyright {
    background: #D4D9DD url(../img/bg03.jpg) repeat;
    color: #a3a1a1;
    font-size: 19px;
    padding: 70px 0;
    border-top: 1px solid rgb(202, 202, 202);
}