/* Style of menu bar*/

body {
    font-family: 'Yanone Kaffeesatz' !important;
    margin-left: 25px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    margin-top: 20px;
    font-size: 23px;
    padding-bottom: 40px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 30px auto;
}

.navbar-toggle {
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 1210px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .navbar-toggle {
        display: none;
    }
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
    }
}


/*Style of buuton*/

.button-large {
    background-image: -moz-linear-gradient(top, #ed391b, #ce1a00);
    background-image: -webkit-linear-gradient(top, #ed391b, #ce1a00);
    background-image: -ms-linear-gradient(top, #ed391b, #ce1a00);
    background-image: linear-gradient(top, #ed391b, #ce1a00);
    display: inline-block;
    background-color: #ed391b;
    color: #fff;
    text-decoration: none;
    font-size: 1.75em;
    height: 2em;
    line-height: 2.125em;
    font-weight: 300;
    padding: 0 45px;
    outline: 0;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
}

a,
a:hover {
    text-decoration: none;
    text-align: center;
}

.button-large:hover {
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: brown;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*Style of header*/

#header {
    position: relative;
    cursor: default;
    background-color: #474f51;
}

#logo {
    margin-top: 50%;
    color: #f1f1f1;
    font-size: 100%;
    text-decoration: none;
}

#slide {
    background-color: #474f51;
    color: #f1f1f1;
}

.container h3,
h2 {
    font-size: 1rem;
}

#banner {
    background-color: #474f51;
}

.container h1 h3 ul {
    font-size: 13.5pt;
}


/*style of content*/

#content {
    background-color: white;
}

#contentleft img {
    width: 100%;
}

#content h3 {
    color: #96a9b5;
    font-size: 1.25em;
}

#contentleft {
    background-color: #fff;
    border: 10px solid seashell;
    width: 100%;
}

#contentright,
#contentcenter {
    background-color: #fff;
    border: 1rem solid seashell;
}

#contentright img {
    width: 4rem;
    padding: 2px;
}

#contentright p,
span {
    margin-top: -1em;
}

#in1,
#in2,
#in3 {
    font-size: 1em;
    font-style: italic;
    margin-left: 70px;
}

#hoa1,
#hoa2,
#hoa3 {
    margin-left: 70px;
}

.bordered-feature-image,
.thumbnail {
    display: block;
    border-radius: 2px;
    background: #fff;
    padding: 3%;
    margin: 0 0 1.5rem 0;
}

.thumbnail p {
    margin-left: 0px;
}

.bordered-feature-image img,
.thumbnail img {
    display: block;
    width: 100%;
}


/*Style of footer*/

#footer {
    background-color: #D4D9DD;
}

ol,
ul {
    list-style-type: none;
}

#footer a,
h2 {
    color: #546b76;
}

#footer h2 {
    font-size: 1em;
    margin-bottom: 20px;
}

a {
    text-decoration: underline;
}

#copyright {
    text-align: center;
    color: #546b76;
    margin-left: 10%;
}

#footerleft {
    margin-left: -60px;
    vertical-align: baseline;
    font-size: 14px;
}

#footerright {
    font-size: 1rem;
}

.last-child li {
    width: 100%;
}


/* style page 1*/

#contentpage1 {
    background-color: aliceblue;
    padding: 3em;
}

#contentpage1left1,
#contentpage1left2,
#contentpage1center,
#contentpage1right1,
#contentpage1right2 {
    background-color: white;
    padding: 2px;
    font-size: 1.1em
}

#contentpage1left1 {
    background-color: white;
    margin-bottom: 10px;
}

#contentpage1left1 h2,
#contentpage1left2 h2,
#contentpage1center h2,
#contentpage1right1 h2,
#contentpage1right2 h2,
#contentpage1left1 p {
    margin-left: -5px;
}

#contentpage1right2 p {
    margin-left: -8px;
}

#contentpage1left1 a,
#contentpage1left2 a,
#contentpage1right1 a,
#contentpage1right2 a {
    color: red;
    margin-left: 0%
}

#contentpage1right2 {
    margin-top: 10px;
}

#contentpage1left1,
#contentpage1left2,
#contentpage1right1,
#contentpage1right2,
#contentpage1center {
    padding: 2em;
}


/*Page 2*/

#contentpage2 {
    background-color: aliceblue;
    padding: 3em
}

#contentpage2 hr {
    margin-left: 2em
}

#contentpage2left,
#contentpage2right1,
#contentpage2right2 {
    background-color: white;
    padding: 2px;
    font-size: 1.1em;
    width: 100%;
}

#contentpage2left h2,
#contentpage2left p,
#contentpage2left h3,
#contentpage2right1 h2,
#contentpage2right1 a,
#contentpage2right2 a,
#contentpage2right2 h2 {
    margin-left: 20px;
}

#contentpage2right2 {
    margin-top: 1em;
}

#contentpage2right2 p {
    margin-left: 1.8em;
}

#contentpage2right1 a,
#contentpage2right2 a {
    list-style-type: none;
    color: brown;
}


/*style page 3*/

#contentpage3 {
    background-color: aliceblue;
    padding: 3em;
}

#contentpage3 hr {
    margin-left: 30px;
    ;
    ;
}

#contentpage3right,
#contentpage3left1,
#contentpage3left2 {
    background-color: white;
    padding: 2px;
    font-size: 1.1em;
    width: 100%;
}

#contentpage3right h2,
#contentpage3right p,
#contentpage3right h3,
#contentpage3left1 h2,
#contentpage3left1 a,
#contentpage3left2 a,
#contentpage3left2 p,
#contentpage3left2 h2 {
    margin-left: 20px;
}

#contentpage3left2 {
    margin-top: 1em;
}

#contentpage3right {
    margin-left: 22px;
}

#contentpage3left1 a,
#contentpage3left2 a {
    list-style-type: none;
    color: brown;
}


/*Style page 4*/

#contentpage4 {
    background-color: aliceblue;
    padding: 3em;
}

#contentpage4 h2,
#contentpage4 h3,
#contentpage4 p {
    margin-left: 20px;
}

#column {
    background-color: white;
    font-size: 1, 2em;
}