/* * * * * * * * * * * * * * * * * * * *
   Set Class: Row
   Set về vị trí, kích thức của phần row
        + Hình
        + Chữ
        + Bodder

/* * * * * * * * * * * * * * * * * * * */

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.row div {
    box-sizing: border-box;
}

.row.gtr-uniform div {
    margin-bottom: 0;
}

.row.aln-left {
    justify-content: flex-start;
}

.row.aln-center {
    justify-content: center;
}

.row.aln-right {
    justify-content: flex-end;
}

.row.aln-top {
    align-items: flex-start;
}

.row.aln-middle {
    align-items: center;
}

.row.aln-bottom {
    align-items: flex-end;
}

.row>.imp {
    order: -1;
}

.row>.col-1 {
    width: 8.3333333333%;
}

.row>.off-1 {
    margin-left: 8.3333333333%;
}

.row>.col-2 {
    width: 16.6666666667%;
}

.row>.off-2 {
    margin-left: 16.6666666667%;
}

.row>.col-3 {
    width: 25%;
}

.row>.off-3 {
    margin-left: 25%;
}

.row>.col-4 {
    width: 33.3333333333%;
}

.row>.off-4 {
    margin-left: 33.3333333333%;
}

.row>.col-5 {
    width: 41.6666666667%;
}

.row>.off-5 {
    margin-left: 41.6666666667%;
}

.row>.col-6 {
    width: 50%;
}

.row>.off-6 {
    margin-left: 50%;
}

.row>.col-7 {
    width: 58.3333333333%;
}

.row>.off-7 {
    margin-left: 58.3333333333%;
}

.row>.col-8 {
    width: 66.6666666667%;
}

.row>.off-8 {
    margin-left: 66.6666666667%;
}

.row>.col-9 {
    width: 75%;
}

.row>.off-9 {
    margin-left: 75%;
}

.row>.col-10 {
    width: 83.3333333333%;
}

.row>.off-10 {
    margin-left: 83.3333333333%;
}

.row>.col-11 {
    width: 91.6666666667%;
}

.row>.off-11 {
    margin-left: 91.6666666667%;
}

.row>.col-12 {
    width: 100%;
}

.row>.off-12 {
    margin-left: 100%;
}

.row.gtr-0 {
    margin-top: 0px;
    margin-left: 0px;
}

.row.gtr-0>* {
    padding: 0px 0 0 0px;
}

.row.gtr-0.gtr-uniform {
    margin-top: 0px;
}

.row.gtr-0.gtr-uniform>* {
    padding-top: 0px;
}

.row.gtr-25 {
    margin-top: -6.25px;
    margin-left: -6.25px;
}

.row.gtr-25>* {
    padding: 6.25px 0 0 6.25px;
}

.row.gtr-25.gtr-uniform {
    margin-top: -6.25px;
}

.row.gtr-25.gtr-uniform>* {
    padding-top: 6.25px;
}

.row.gtr-50 {
    margin-top: -12.5px;
    margin-left: -12.5px;
}

.row.gtr-50>* {
    padding: 12.5px 0 0 12.5px;
}

.row.gtr-50.gtr-uniform {
    margin-top: -12.5px;
}

.row.gtr-50.gtr-uniform>* {
    padding-top: 12.5px;
}

.row {
    margin-top: -25px;
    margin-left: -25px;
}

.row>* {
    padding: 25px 0 0 25px;
}

.row.gtr-uniform {
    margin-top: -25px;
}

.row.gtr-uniform>* {
    padding-top: 25px;
}

.row.gtr-150 {
    margin-top: -37.5px;
    margin-left: -37.5px;
}

.row.gtr-150>* {
    padding: 37.5px 0 0 37.5px;
}

.row.gtr-150.gtr-uniform {
    margin-top: -37.5px;
}

.row.gtr-150.gtr-uniform>* {
    padding-top: 37.5px;
}

.row.gtr-200 {
    margin-top: -50px;
    margin-left: -50px;
}

.row.gtr-200>* {
    padding: 50px 0 0 50px;
}

.row.gtr-200.gtr-uniform {
    margin-top: -50px;
}

.row.gtr-200.gtr-uniform>* {
    padding-top: 50px;
}